.btn{
    width: 70px;
    height: 30px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 157, 255, 0.991);
    box-shadow: 1px 1px 5px  black;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.6;
    transition: 0.8s;
}
.btn:active{
    transition: 0.3s;
    opacity: 0.3;
}