.img{
    border: none;
    border-radius: 10px;
    width: 200px;
}
.im{
    /* object-fit: cover; */
    /* object-position: center; */
    /* border: 5px dotted yellow; */
    /* border-radius: 300px; */
    width: 200px;
    height: 200px;
}
.imgg{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    /* height: 300px; */
}
.inp{
    height: 30px;
    padding-left: 10px;
}




/* Note : Now , we have three pesudo class focus,acitve, hover */



input:focus{
    outline: none;
}
.inpp{
    width: 250px;
    height: 30px;
    border-radius: 30px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    box-shadow: 2px 2px 5px black;
    /* outline:none; */
}
.inpp:focus{
    /* outline: dotted; */
    /* outline-style: dotted; */
    /* outline-width: 2px; */
    /* outline-offset: initial; */
    /* outline-color: gray; */
    outline: none;
}
.em{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-weight: 400;
}
.email{
    width: 390px;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    height: 20px;
    border-color: rgb(0, 204, 255);
}
.par{ 
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
.btnn{
    width: 390px;
    height: 38px;
    border-radius: 25px;
    border: none;
    background-color: rgb(0, 106, 255);
    color:white;
    cursor: pointer;

    font-weight: 690;
}
.btnn:hover{
    transition: 0.3s;
    opacity: 0.9;

}
.btnn:active{
    transition: 0.01s;
    opacity: 0.3;
}
.btnn:focus{
    box-shadow: 2px 2px 4px black;
    /* outline: double; */
}
.p1{
    font-family: Arial, Helvetica, sans-serif;
      
    color: gray;
    font-weight: 400;
    vertical-align: middle;
    width: 400px;
    height: 60px;
    
}

.gif{
    width: 50px;
    border-radius: 50%;
    height: 50px;
    box-shadow: 1px 1px 3px black;
    vertical-align: middle;
}
.tweet{
    width: 70px;
    height: 30px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(0, 145, 255);
}
.tweet:hover{
    box-shadow: 2px 2px 5px black;
    transition: 0.3s;
    opacity: 0.9;


}
.tweet:active{
    transition: 0.1ms;
    opacity: 0.3;
}