body{
    background-color: aqua;
    margin: 0px;
    
    

}
h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
p{
    /* margin: 0px; */
}
.intro{
    background-color: paleturquoise;
    width: 200px;
    height: 200px;
    border: solid px;
    padding: 20px;
    
}
.mid{
    background-color: blue;
    width: 200px;
    height: 200px;
    margin-left: 200px;
}
.last{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-left: 400px;
}