.card{
    vertical-align: top;
    width: 300px;
    display: inline-block;
    margin-right: 10px;
}

.search{
    display: block;
    outline: none;
}
.thumbnail{
    width: 300px;
    /* vertical-align: top; */
}
.upperpic{
    vertical-align: top;
}
#pic{
    width: 45px;
    border-radius: 50%;
}
.profilepic{
    display: inline-block;
    width: 70px;
    vertical-align: top;
}
.description{
    display: inline-block;
    width: 225px;

}
p{
    margin: 0;
    line-height: 20px;
    text-align: left;
    font-weight: 600;
}
.para{
    color: gray;
    font-weight: 300;
    

}
.paramain{
    margin-bottom: 7px;
}
.allthing{
    margin-top: 10px;
}
body{
    font-family: 'Roboto', sans-serif;
}