body{
    margin:0;
    padding: 0;
    background-color:rgb(39, 63, 2);
    /* font-family: 'Chivo Mono', monospace; */
/* font-family: 'Sacramento', cursive; */
/* font-family: 'Work Sans', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */
font-family: 'Mali', cursive;


}
h1{
    margin: 0;
    /* text-align: center; */
    position: relative;
    font-style: italic;
    top:6rem;
    color: white;


}
.heading{
    margin-bottom: 20px;
}
.ref{
    text-align: center;
    
    font-size: xxx-large;
    



}
.result{
    text-align: center;
}

.dice1{
    display: inline-block;
    margin: 20px;
}
.dice2{
    margin: 20px;

    display: inline-block;
}
footer{
    color: white;
    text-align: center;
    position: relative;
    /* top:40rem   ; */
}