input{
    width: 130px;
    margin-bottom:10px ;
    height: 20px;
    border-radius: 5px;

    padding-left: 8px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: gray;
    border-color: rgb(230, 226, 226);
    outline: none;
    /* box-shadow: 1px 1px 1px black; */

}
.first{
    display: inline-block;
    


}
.sec{
    display: inline-block;
   
    margin-left:25px ;
}
.third{
    display: block;
    width: 300px;
   

}
.btn{
    width: 310px;
    height: 30px;
    color: white;
    font-weight: bold;
    border: none;
    /* margin-left: 12px; */
    border-radius: 5px;
    background-color: rgb(0, 145, 255);
}
.btn:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.233);
    
    transition: 0.3ms;
    opacity: 0.9;
    cursor: pointer;

}
.btn:active{

    cursor: pointer;
    transition: 0.2ms;
    opacity: 0.8;
}