.img{
    width: 500px;
    /* margin-left: 420px; */
    /* margin-top:0px; */
    /* display: inline-block; */

}
.input{
    /* margin-left: 580px; */

    width: 490px;
    height: 38px;
    border-radius: 30px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    box-shadow: 2px 2px 5px black;
    display: inline-block;
    outline:none;
}

.center{
    text-align: center;
    /* width: 300px; */
}
.btn{
    margin-top: 40px;
    margin-right: 20px;
    height: 40px;
    border-radius: 1px;
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.183);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}